{% extends 'layout/base.html' %}
{% load static %}
{% load auth_validator %}
{% load crispy_forms_tags %}

{% block content %}
    <div style="margin-left:200px; margin-right:200px;" class="content-section">
        <div class="media">

           <div class="media-body">
                <h2 class="account-heading d-inline">{{ user.username }}</h2>
                <hr>
                <h2 class=" d-inline">{{ user.email }}</h2>
                <hr>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data" id="studentForm" data-hostels-url="{% url 'ajax_load_hostels' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ p_form|crispy }}
                
                <div class="form-group">
                    <button class="btn btn-outline-info float-right" type="submit">Update</button>
                </div>
            </fieldset>
        </form>
  </div>
{% endblock content %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $("#id_gender").change(function () {
            const url = $("#studentForm").attr("data-hostels-url");
            const genderID = $(this).val();  

            $.ajax({                      
                url: url,                  
                data: {
                    'gender_id': genderID     
                },
                success: function (data) {  
                    $("#id_hostel").html(data);  
                }
            });

        });
    </script>
{% endblock javascript %}
