{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Join Today
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Sign Up</button> 
            </div>
        </form>

        <div class="border-top pt-1 mt-4">
            <small class="text-muted">Already Have an Account ?
                <a href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
