{% extends 'layout/base.html' %}
{% load static %}
{% load auth_validator %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user|has_group:"Student" %}
    <div style="margin-left:200px; margin-right:200px;" class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Order Today
                </legend>
                    {{ form|crispy }}
                <div>
                    <button class="btn btn-outline-info float-right" type="submit">Place Order</button> 
                </div>
            </fieldset>
        </form>

    </div>
{% endif %}
{% endblock content %}
