{% load static %}
{% load auth_validator %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'laundry/main.css' %}">
    

    {% if title %}
      <title>LMS | {{ title }}</title>
    {% else %}
      <title>LMS</title>
    {% endif %}

    {% block stylesheet %}{% endblock stylesheet %}
    <style>
      @media (max-width: 768px) {
        .navbar-nav .nav-link {
            text-align: center;
        }
      }
    </style>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'laundry-index' %}">LMS</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">

                {% if request.user|has_group:"Student" %}
                  <a class="nav-item nav-link" href="{% url 'laundry-place-order' %}">Place Order</a>
                  <a class="nav-item nav-link" href="{% url 'laundry-order-history' %}">History</a>
                {% endif %}

                {% if request.user|has_group:"Employee" %}
                  <a class="nav-item nav-link" href="{% url 'laundry-orders-list' %}">Orders</a>
                {% endif %}
              </div>
              
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if not  user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'user-registration' %}">Create Account</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'user-profile' %}">Update Profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                  {% if request.user|has_group:"Student" %}
                    <a class="nav-item nav-link" href="#">Notification</a>
                  {%endif%}
                  <a class="nav-item nav-link" href="{% url 'display-last-order' %}">Me</a>
                {% endif %}
              </div>
            </div>
            
          </div>
        </nav>
      </header>

      <main role="main" class="container">
        <div class="row">

          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}


          </div>

        </div>
      </main>

      {% block content %}{% endblock %}
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      {% block javascript %}{% endblock javascript %}
</body>
</html>


